
.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../img/Forth_Bridge.png");
	background-size: cover;
	
	width: 100%;
	height: 768px;
	/*height: 768px;*/
	color: #FFF;
}

.jumbotron h1 {

	margin-bottom: 40%;
	font-family: Helvetica, sans-serif;
	font-size: 58px;
	color: #FFF;
	text-align: center;
}

/*body {
	background: -webkit-linear-gradient(0deg, #35577D, #141E30);
	
	background: linear-gradient(0deg, #35577D, #141E30);
	margin: 0;
	padding: 0;

}
*/